<div class="card-product">
  <div class="card-product-infos">
    <p> <%= @truck.kilometers %> Km </p>
    <p> <%= @truck.consumption %> CO2 </p>
    <p> <%= @truck.city_hall.name %> </p>
  </div>
</div>
.