<% @trucks.each_with_index do |truck, index| %>
  <div class="card-product">
    <div class="card-product-info d-flex justify-content-between w-100">
      <%= link_to truck.plate_number, truck_path(truck) %>
      <p><%= "team #{index + 1}" %></p>
    </div>
  </div>
<% end %>
