<div>
  <ul>
    <%count = 1%>
    <% @trucks.each do |truck| %>
      <li><%= link_to truck.plate_number, truck_path(truck) %></li>
    <%= "team #{count}" %>
    <% count += 1 %>
    <% end %>
  </ul>
</div>




<%# list the trucks  %>
<%# link_to a un truck %>

<%# trucks.road.km %>


<%# filling rate moyen en fonction des jours %>
<%# map with full screen button%>
<%# savings per day %>
<%# trucks index with show truck %>
