.mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }

  .infos-container {
    padding-top: 15px;
  }

  .infos-container a{
    text-decoration: none;
    font-weight: bolder;
  }