.navbar-lewagon {
  justify-content: space-between;
  background: none;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo-police {
  color: #65C18C;
  font-family: 'Manrope', sans-serif;
}

#logo-police1 {
  color: #263328;
  font-family: 'Manrope', sans-serif;
}

.new_color {
  background-color: white;
  box-shadow: 0 4px 2px -2px rgba(226, 225, 225, 0.3);
}
