.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.empty {
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homecard {
  text-align: center;
  margin-top: 100px;
}

#iconeshome {
  display: inline-block;
  margin-top: 50px;
}

#captorshome {
  font-size: 50px;
  position: absolute;
  margin-left: -350px;
  padding: 20px;
}

.card--border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.texthome {
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
}

#maphome {
  font-size: 50px;
  position: relative;
  padding: 20px;
}

#computerhome {
  font-size: 50px;
  position: absolute;
  margin-top: -260px;
  margin-left: 350px;
  padding: 20px;
}

#hometitle {
  font-weight: bold;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.container-dashboard {
  margin: 40px 50px;
}

#savings-card {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.116), 0 17px 50px 0 rgba(0,0,0,0.119);
}

#savings-card-title {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

#savings-card-text {
  margin-left: 40px;
  margin-top: 60px;
}

#savings-card-all {
  margin-top: 30px;
}
