
.card--border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  background-color: #F0F6F0;
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.container-dashboard {
  margin: 40px 50px;
}

#savings-card {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.116), 0 17px 50px 0 rgba(0,0,0,0.119);
  padding: 20px;
}

.card-title {
  text-align: center;
  font-weight: bold;
  font-family: helvetica, ariel, sans-serif;
}

#savings-card-text {
  margin-left: 40px;
}

.d-flex-all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 246px;
  margin: 62px;
  margin-top: 30px;
}

.rapport {
  padding: 20px;
  border: 1px solid 839e81;
}

.landingpage {
  background-color: #F0F6F0;
  font-family: 'Manrope', sans-serif;
}

.first-part-text-landing {
  padding: 80px ;
  height: 600px;
}


.second-part-text-landing {
  padding: 80px;
  background: white;
  border-radius: 4% 4% 0 0;
}

.advantages-landing-page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.first-part-title-landing {
  font-weight: bold;
  font-size: 55px;
  text-align: center;
}

.first-part-title-landing#opti {
  text-align: left;
}

.second-part-title-landing {
  color: #65C18C;
  font-weight: bold;
  font-size: 55px;
}

.text-content{
  text-align: center;
}


.iphone-landingpage {
  position: absolute;
  top: 76px;
  right: 70px;
}

.big-rond-landingpage {
  position: absolute;
  top: 60px;
  left: 1040px;
}


.line-landingpage {
  position: absolute;
  padding-left: 364px;
  margin-top: -25px;
}

.btn-landingpage {
  color: white;
  padding: 10px;
  background-color: #65C18C;
  border-radius: 4px;
}


.icons-landing-page {
  text-align: center;
  display: flex;
  margin-top: 40px;
}
.all-icons-landng {
  padding-bottom: 30px;
}

.text-icons-landing {
  font-size: 12px;
}

.third-part-text-landing {
  padding: 80px;
}

.third-part-title-landing {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 70px;
}

.landing-content {
  display: flex;
  flex-direction: column;
}

.btn-map-card-dashboard {
  color: white;
  background-color: #BEDEBC;
  padding: 3px;
  border-radius: 5%;
  text-decoration: none;
}

.btn-map-card-dashboard:hover {
  text-decoration: none;
  color: white;
  background-color: #839e81;
}

.third-part-flex{
  display: flex;
  justify-content: space-between;
}



$green:#65c18c;
$yellow: #FFEDB6;

%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  color: $black;
  font-family: 'Raleway', sans-serif;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}


ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
  > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    &::before,
    &::after {
      background: linear-gradient(135deg,$green 100%);
      border-radius: 1rem 1rem 0 1rem;
      content: '';
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }
    &::before {
      align-items: flex-end;
      @extend %boxshadow;
      content: counter(gradient-counter);
      color: $black;
      display: flex;
      font: 900 1.5em/1 'Montserrat';
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }
    @for $i from 1 through 5 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba($green, $i * 0.2) 0%,rgba($yellow, $i * 0.7) 100%);
      }
    }
    @for $i from 6 through 10 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba($green, 1 - (($i - 5) * 0.2)) 0%,rgba($yellow, 2 - (($i - 5) * 0.2)) 100%);
      }
    }
    + li {
      margin-top: 2rem;
    }
  }
}
