.card-truck {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 60px;
  transition: 0.3s all ease-in-out;
}
.card-truck:hover{
  margin: 20px 45px;
  .btn-notification-actions a {
    opacity: 1;
  }
}

.card-truck img {
 height: 100%;
 width: 170;
 object-fit: cover;
 padding-left: 10px;
}

.card-truck h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.card-truck p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: center;
}

.card-truck .card-truck-infos {
  margin-left: 50px;
  padding: 30px;
  text-align: center;
  border: solid 5px #BEDEBC;
}

.btn-add-truck{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 30px;
  background:#BEDEBC;
  text-align: center;
  color: black;
  font-weight: bold;
  height: 40px;
  width: 200px;
  text-decoration:none;
  border-radius: 5px;
  border: solid black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.116), 0 17px 50px 0 rgba(0,0,0,0.119);
  overflow: hidden;
  position: relative;
  &:hover{
    color: black;
    text-decoration: none;
  }
}

.btn-add-truck:after{
  background:black;
  height: 40px;
  width: 200px;
  border: 0;
  color: #BEDEBC;
  border: 1px solid #BEDEBC;
  text-align: center;
  content: 'Truck incoming...';
  display: block;
  position: absolute;
  top: -110%;
  left: -1px;
  line-height: 40px;
  transition: all 0.5s ease-in-out;
}
.btn-add-truck:hover:after{
  position: absolute;
  top: -1px;
  left: -1px;
}

.registration-ui {
  background: linear-gradient(to bottom, #E7E2D7 0%,#E7E2D7 100%);
  padding: .25em 1em .25em 1.75em;
  font-weight: bold;
  font-size: 2em;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 1px 1px 1px #ddd;
  position: relative;
  font-family: helvetica, ariel, sans-serif;
  margin-right: 400px;

}
.registration-ui:before {
  content: 'FR';
  display: block;
  width: 30px;
  height: 100%;
  background: #0d0d0e;
  position: absolute;
  top: 0;
  border-radius: 5px 0 0 5px;
  color: #E7E2D7;
  font-size: .5em;
  line-height: 85px;
  padding-left: 5px;
}
.registration-ui:after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  border: 1px dashed #E7E2D7;
}
.btn-notification .btn-notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
  margin: 7px;
  border-radius: 7px;
}
.btn-notification:hover .btn-notification-actions {
  opacity: 1;
}

.btn-notification-actions a {
  opacity: 0;
  margin-left: 16px;
  font-size: 14px;
  padding: 5px;
  background-color: #BEDEBC;
  text-decoration: none;
  color:black ;
  border-radius: 8px;

  &:hover{
    font-size: 14px;
    padding: 5px;
    background-color: #BEDEBC;
    text-decoration: none;
    color:black ;
  }

}

.btn-position{
  margin: 8px;
}
